<div class="article-list">
    <div class="container">
        <div class="intro">
            <h2 class="text-center" style="font-family: monospace, sans-serif;">Welcome to our Library</h2>
            <p class="text-center"><br>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                doloremque laudantium, totam rem aperiam, eaque ipsa quae ab<br></p>
        </div>
        <div class="row articles" style="margin-top: 10px;">
            <div class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4"
                style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;">
                <div class="bg-light border rounded shadow card" data-bs-hover-animate="pulse">
                    <div class="card-body">
                        <h3 class="card-title text-center"
                            style="font-family: cursive, Antic, sans-serif;color: rgb(81,87,94);">Books Summary</h3>
                        <div class="col text-center">
                            <div class="counter">
                                <i class="fa fa-book fa-2x"></i>
                                <h2 class="timer count-title count-number" data-to="100" data-speed="1500"></h2>
                                <p class="count-text ">Our Customer</p>
                            </div>
                        </div>
                        <div class="text-center card-btn">
                            <button class="btn btn-outline-info" type="button">See more</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4"
                style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;">
                <div class="bg-light border rounded shadow card" data-bs-hover-animate="pulse">
                    <div class="card-body">
                        <h3 class="card-title text-center"
                            style="font-family: cursive, Antic, sans-serif;color: rgb(81,87,94);font-size: 1.72em;">
                            Checkout Summary</h3>
                        <div class="col text-center">
                            <div class="counter">
                                <i class="fa fa-check-circle-o fa-2x"></i>
                                <h2 class="timer count-title count-number" data-to="100" data-speed="1500"></h2>
                                <p class="count-text ">Our Customer</p>
                            </div>
                        </div>
                        <div class="text-center card-btn">
                            <button class="btn btn-outline-info" type="button">See more</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto col-sm-12 col-md-12 col-lg-4 col-xl-4"
                style="padding-top: 15px;padding-bottom: 15px;padding-right: 15px;padding-left: 15px;">
                <div class="bg-light border rounded shadow card" data-bs-hover-animate="pulse">
                    <div class="card-body">
                        <h3 class="card-title text-center"
                            style="font-family: cursive, Antic, sans-serif;color: rgb(81,87,94);">Users Summary</h3>
                        <div class="col text-center">
                            <div class="counter">
                                <i class="fa fa-user-circle fa-2x"></i>
                                <h2 class="timer count-title count-number" data-to="100" data-speed="1500"></h2>
                                <p class="count-text ">Our Customer</p>
                            </div>
                        </div>
                        <div class="text-center card-btn">
                            <button class="btn btn-outline-info" type="button">See more</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>